<title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Títol del teu document</title>
    <style>
        h1 {
            color: red; /* Canvia a color que vulguis */
        }

        h2 {
            color: blue; /* Canvia a color que vulguis */
        }

        p {
            font-family:  sans-serif; /* Canvia a la tipus de lletra que vulguis */
        }
    </style>
</head>